@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color variables */
  --color-primary-blue: #2772db63;
  --color-primary-red: #d8312f;
  --color-primary-black: #000000;
  --color-primary-white: #ffffff;
  --color-secondary-green: #5f8670;
  --color-secondary-blue: #005bb5;
  --color-bg-base: #f5f5f5; /* whitesmoke */
  --color-bg-overlay: rgba(0, 0, 0, 0.4);
  --color-bg-highlight: #8cb9e6;
  --color-sidebar: rgba(129, 181, 241, 0.5);
  --color-heading-text: rgb(33, 33, 236);

  /* Font size variables */
  --font-size-small: 1rem; /* 16px */
  --font-size-base: 1.2rem; /* 19.2px */
  --font-size-medium: 1.5rem; /* 24px */
  --font-size-large: 2rem; /* 32px */
  --font-size-xlarge: 2.5rem; /* 40px */
  --font-size-xxlarge: 3rem; /* 48px */
}

/* General classes */
/* General classes */
.flex-div {
  display: flex;
}

.highlight {
  background-color: var(--color-primary-white);
  font-size: var(--font-size-medium);
  transition: all 0.3s ease-in-out;
  color: var(--color-primary-black);
  border: 1px solid var(--color-primary-red);
  border-radius: 9px;
}

/* Prompt background */
.color-white-100 {
  color: var(--color-secondary-green) !important;
}

.prompt-text-size {
  font-size: var(--font-size-base);
}

/* Sidebar */
.bg-blue-100 {
  background-color: var(--color-primary-blue);
}

.color-red-100 {
  color: var(--color-primary-red) !important;
}

/* Content background */
.bg-base-200 {
  background-color: var(--color-bg-base) !important;
}

.bg-green-100 {
  background-color: var(--color-primary-white) !important;
}

.sidebar-color {
  color: var(--color-sidebar);
}

.special,
.story,
.stories-color {
  color: var(--color-primary-black);
}

.storydivs {
  font-size: var(--font-size-base);
}

.story-right-border {
  border-right: 1px solid var(--color-primary-black);
}

.story-left-border {
  border-left: 1px solid var(--color-primary-black);
}

/* Hover effect for buttons */
.btn {
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
}

.twinheading {
  color: var(--color-primary-white);
  font-size: var(--font-size-xlarge);
  text-align: center;
}

.loader-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Define button styles */
.story-btn {
  display: inline-block;
  padding: 12px 14px;
  margin: 3px 0;
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--color-primary-white);
  background-color: var(--color-secondary-blue);
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.story-btn:hover {
  background-color: var(--color-secondary-blue);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.story-btn:active {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.story-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.5);
}

.pn-button {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-secondary-blue);
  color: var(--color-primary-black);
}

.sheading {
  color: var(--color-primary-black);
  font-size: var(--font-size-xlarge);
}

.voice {
  color: var(--color-primary-black);
  font-size: var(--font-size-base);
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* Choose Language */
.choose-language {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.translate-language {
  color: white;
}

/* Video Component */
.video-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-white);
  font-size: var(--font-size-base);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay-text {
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Get Tokens Link */
.getTokensLink {
  color: var(--color-primary-white);
}

.wordloading {
  height: 40px;
  background-color: var(--color-bg-highlight);
}

/* Animated underline */
.animated-underline {
  position: relative;
  display: inline-block;
}

.animated-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 2s ease;
}

.animated-underline:hover::after {
  width: 100%;
}

@layer utilities {
  .animation-delay-0 {
    animation-delay: 0s;
  }
  .animation-delay-150 {
    animation-delay: 0.15s;
  }
  .animation-delay-300 {
    animation-delay: 0.3s;
  }
}

.signoutbutton {
  border-bottom: 1px solid var(--color-bg-base);
  box-shadow: 0 4px 6px rgba(228, 219, 219, 0.1);
}

.navlinks {
  border-bottom: 1px solid var(--color-bg-base);
}

/* Style for the thumb (the draggable ball) */
input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
}

.spinner-div {
  text-decoration: line-through;
}
