@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  background-color: white;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
  color: black;
  /* make circular  */
  border: 1px solid #d8312f;
  border-radius: 9px;
}

/*Prompt background */

.color-white-100 {
  color: #5f8670 !important;
}

/* Sidebar*/
.bg-blue-100 {
  background-color: #2772db63;
}

.color-red-100 {
  color: #d8312f !important;
}
/* content background */
.bg-base-200 {
  background-color: whitesmoke !important;
}

.bg-green-100 {
  background-color: white !important;
}

.bg-gray-100 {
  background-color: #2772db63 !important;
}

.special {
  color: black;
}

.story {
  color: black;
  text-align: center;
}
.storydivs {
  border: 1px solid black;
  font-size: 1.2rem;
}

.story-right-border {
  border-right: 1px solid black;
}

.story-left-border {
  border-left: 1px solid black;
}
/* hover affect for buttons */

.btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: black;
}

.twinheading {
  color: white;
  font-size: 2em;
}

.stories-color {
  color: black;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Give me a css class that makes the characters a littie bit bigger */

/*Give me a css class that makes the characters a littie bit bigger */
/* Define button styles */
.story-btn {
  display: inline-block;
  padding: 2px 4px;
  margin: 3px 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0070f3;
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.story-btn:hover {
  background-color: #005bb5;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.story-btn:active {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.story-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.5);
}

.pn-button {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #0070f3;
}
